/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  line-height: 1.6;
}

h2,
h3 {
  color: #0c318f;
}

#Home.navbar.bg-dark {
  background-color: #ffffff !important;
}

#Home > .container {
  background-color: #343a40;
}

#Home .navbar-brand {
  color: #ffffff !important;
}

#Home .navbar-brand h2 {
  color: #ffffff;
  margin: 0;
}

#Home .nav-link {
  color: #ffffff !important;
}

#Home .nav-link:hover,
#Home .nav-link:focus {
  color: rgba(255, 255, 255, 0.75) !important;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  color: #003399;
}

span.highlight {
  background-color: #ffffd0;
}
